.root {
    width: var(--grid-size);
    height: var(--grid-size);
    box-sizing: border-box;
    margin: 0;
    line-height: inherit;
    background: none;
    background: no-repeat center;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root:hover, .root.active {
    color: var(--default-highlight-color);
}
