.root {

}

.header .menu {
    display: none;
}

.header:hover .menu {
    display: block;
}

.menu.open {
    display: block;
}

.draggable {
    display: none;
    cursor: move;
}

.header:hover .draggable {
    display: block;
}
