.root {
    --row-label-size: 8;
}

.root {
    width: calc(var(--row-label-size) * var(--grid-size));

    display: flex;
    flex-direction: row;

    font-family: 'IndieFlower', cursive;
}

.root > input {
    width: calc(calc(var(--row-label-size) - 1) * var(--grid-size));
}
